<div class="container my-3">
    <div class="jumbotron">
        <h1 class="display-4">About This Angular App</h1>
        <p class="lead">This is a simple task planner app!</p>
        <hr class="my-4">
        <p> This app is implemented using various concepts of Angular, including different directives, routing, passing of data from parent to child components and vice-versa. NgForms and its concepts have been used. Concept of emitters is used as well. </p>
        <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
    </div>
</div>